.feedback-box{
    width: 540px;
    height: 605px;
    background-color: #FFFFFF;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.feedback-page{
    background-color: #F2F4FF;
    align-items: center;
    display: flex;
}