.landing-page{
    
    display: flex;
    padding: 40px;
    
}

.logo-land{
    width: 255px;
    height: 115px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 7px;
    padding-bottom: 20px;
}

.mentor{
    padding-top: 70px;
    width: 100%;
    padding-left: 30px;
    font-size: larger;
    font-weight: bold;

}

.board{
    width: 100%;
    padding-left: 30px;
    font-size: smaller;
}

.features-land{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 150px;
    padding-top: 20px;
    margin-top: 24px;
    border-radius: 7px;
}

.roadmap-land{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 180px;
    padding-top: 20px;
    margin-top: 24px;
    border-radius: 7px;
    flex-direction: column;
}

.main-content-land{
    padding-left: 30px;
    flex-direction: column;
}

.bar-land{
    background-color: rgb(58, 67, 116);
    width: 825px;
    height: 62px;
    display: flex;
    border-radius: 7px;
    align-items: center;
    flex-direction: row;
    text-align: left;
}

.features-button-box{
    display: flex;
    width: 150px;
    height: 118px;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    
}

.row1-feat{
    width: 145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row2-feat{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row3-feat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.butn{
    border-radius: 10px;
    border: none;
    padding: 8px 12px;
    color: #4661E6;
    background-color: #F7F8FD;
    font-weight: bold;
    cursor: pointer;
}

.butn:hover{
    background-color: #F2F4FF;
}

#bug-btn{
    margin-right: 10px;
    margin-left: 20px;
}

.active{
    background-color: #4661E6;
    color: #FFFFFF;
}

.roadmap-title{
    margin: 10px;
    padding-left: 18px;
    display: flex;
    align-items: baseline;
}

.roadmap-left-title{
    font-weight: bold;
    color: rgb(58, 67, 116);
    font-size: larger;
}

.roadmap-right-title{
    padding-left: 80px;
    font-weight: bold;
    text-decoration: underline;
    color: #F2F4FF;
    font-size: medium;
}

.planned-and-views{
    text-align: left;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.planned{
    padding-left: 30px;
    padding-right: 20px;
}

.planned-views{
    padding-left: 90px;
}

.progress-and-views{
    text-align: left;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
}

.progress{
    padding-left: 30px;
    padding-right: 20px;
}

.progress-views{
    padding-left: 66px;
}

.live-and-views{
    text-align: left;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
}

.live{
    padding-left: 30px;
    padding-right: 20px;
}

.live-views{
    padding-left: 120px;
}

.bulb{
    padding-left: 20px;
}

.suggestions{
    display: flex;
    padding-left: 20px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: large;
}

.suggestion-count{
    padding-right: 7px;  
}

.sorting{
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    
}


.transparent-button{
    background: none;
    border: none;
    cursor: pointer;
}



.dropdown-menu{
    list-style: none;
    position: absolute;
    padding-top: 30px;
    z-index: 999;
    top: 60px;
    left: 520px;
    text-align: left;
   
}




/* .sort-menu{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 170px;
    position: absolute;
    top: 115px;
    left: 550px;
    text-align: left;
    border-radius: 7px;
} */

.dropdown-menu li :hover {
    cursor: pointer;
    color: #AD1FEA; 
}

.add-feedback-button{
    padding-left: 310px;
    text-decoration: none;
}

.feedback-btn{
    background-color: #AD1FEA;
    border-radius: 7px;
    padding: 12px 15px;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
}

.feedback-btn:hover{
    background-color: rgb(198, 113, 235);
    cursor: pointer;
    border: none;
    text-decoration: none;
}



a:link{
    text-decoration: none;
}

.feedback-btn a{
    color: #FFFFFF;
}
